*.ipynb

*.DS_Store

!data/
!data/Object Detection Results/
!data/Original Videos/
!data/Original Frames/
!data/Reconstructed Videos/

data/Object Detection Results/*
data/Original Videos/*
data/Original Frames/*
data/Reconstructed Videos/*

# To encourage best practices, we're ignoring some common data/output types that are being dumped into git repo's
*.png
*.jpg
*.mp4
*.ipynb
*.csv
*.tsv
*.pdf